# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/captures/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# macOS / Windows / Linux (gerekmiyor)
macos/
linux/
windows/

# IDE
.idea/
.vscode/
*.iml

# Misc
*.DS_Store
*.log
Thumbs.db

# Gizli Anahtarlar (ASLA commit etme!)
google-services.json
GoogleService-Info.plist
lib/core/services/ai_service.dart

# Test build outputs
*.apk
*.aab
*.ipa
